.service-banner-div {
  background: rgba(2, 13, 29, 0.9)
    url("https://html.devignedge.com/pettu/images/site-header-1.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  background-blend-mode: darken;
  margin-bottom: 100px;
  padding: 20px;
  height: 60vh;
}

.our-services {
  font-size: 50px;
  color: white;
  font-weight: 500;
  position: relative;
  margin-top: 300px;
}
.service-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 50%;
  gap: 20px;
}

@media screen and (max-width: 1100px) {
  .service-banner-div {
    background-position: center;
  }
  .service-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .service-banner-div {
    background-position: center;
  }
  .service-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
