.serviceDetails-parent-div {
  background: rgb(2, 13, 29, 0.9)
    url("https://html.devignedge.com/pettu/images/site-header-2.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  position: relative;
}
.serviceDetails-banner-heading {
  font-size: 30px;
  color: blue;
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
}
.home {
  text-decoration: underline;
}
.reload {
  color: red;
  font-size: 40px;
  font-weight: 700;
}
/* ============================ */
.sectionAndAside-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-left: auto;
}
.left-site-section {
  margin: auto;
}
.highlight-photo {
  width: 800px;
  border-radius: 20px;
}

.right-site-section {
}
