.serviceDetails-parent-div {
  background: rgb(2, 13, 29, 0.9)
    url("https://html.devignedge.com/pettu/images/site-header-2.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
