.service-header-parent-child-div {
  background-color: #e2e8e9;
  text-align: center;
  padding: 30px;

  margin: auto;

  height: 100%;
}
.service-header-logo {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 60px 10px 60px 50px;
}

.service-header-title {
  margin: 20px;
  font-size: 25px;
  font-weight: 500;
}
.service-header-description {
  font-size: 16px;
  color: #6e949b;
  font-weight: 500;
}
.service-header-booking-btn {
  background-color: rgb(82, 165, 0);
  border: 2px solid black;
  color: white;
  font-weight: 500;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
