.home-parent-div {
  background: rgba(0, 0, 0, 0.247) url("../../images/header-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  margin-bottom: 100px;
  padding: 20px;
  height: 100vh;
}
.home-banner-text {
  color: white;
  margin-top: 200px;
  margin-left: 100px;
}
.home-heading {
  font-size: 60px;
}
.enjoy {
  color: #dc3545;
  font-weight: 700;
}
.paragraph {
  font-weight: 500;
  line-height: 25px;
}

.contact-btn {
  background-color: #28a745;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
}

/* service section */
.service-title {
  color: #dc3545;
  font-weight: 800;
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}
.service-heading {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.map-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  grid-gap: 20px;
  padding: 20px;
}

.exprt-grid-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .map-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .home-parent-div {
    background-size: cover;
  }
  .home-banner-text {
    position: relative;
    bottom: 150px;
    right: 70px;
  }
  .home-heading {
    font-size: 25px;
    margin-top: 20px;
  }
  .paragraph {
    line-height: 18px;
    margin-top: 20px;
    font-weight: 400;
  }
  .contact-btn {
    padding: 10px;
    font-size: 12px;
  }
  .map-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ======================================= */

@media screen and (max-width: 1300px) {
  .exprt-grid-div {
    gap: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .exprt-grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .exprt-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}
