.nav-parent-div {
  color: white;
  background-color: rgba(0, 0, 0, 0.952);
}
.font-first {
  /* color: white; */
}
.font {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.logOut-btn {
  background-color: rgba(0, 255, 242, 0.897);
  color: black;
}
