.footer-parent-div {
  background: rgb(1, 2, 37)
    url("https://html.devignedge.com/pettu/images/footer-tr-bg.png");
  background-position: center;

  margin-top: 100px;
  color: white;
  padding: 50px;
}

.footer-grid-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 200px;
}

.single-footer-div {
  margin-top: 100px;
}

.footer-heading {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.single-footer-div p {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(92, 89, 89);
}
.single-footer-div li {
  margin-top: 12px;
  font-size: 18px;
  color: rgb(92, 89, 89);
}
.social-media-parent-div {
  display: flex;
  align-items: center;
}

.social-media-btn {
  margin: 10px;
  background-color: rgb(92, 89, 89);
  color: black;
  font-weight: 800;
  font-size: 28px;

  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
}
.link-f {
  color: red;
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.link-t {
  color: red;
  position: absolute;
  margin-top: 4px;
  margin-left: 15px;
}
.link-i {
  color: red;
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
}
.link-in {
  color: red;
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}

.input-field {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}
.submit-btn {
  background-color: white;
  color: rgb(92, 89, 89);
  font-weight: 500;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 1350px) {
  .footer-grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .single-footer-div {
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .footer-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .single-footer-div {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .footer-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .single-footer-div {
    width: 100%;
  }
}
