.single-exprt-parent-div {
  background: rgba(2, 13, 29, 0.9)
    url("https://html.devignedge.com/pettu/images/site-header-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  margin-bottom: 100px;
  height: 70vh;
  position: relative;
}
.teamDetails {
  color: white;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
}
.goService {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  margin-top: 230px;
  margin-left: 110px;
}
.goService-section {
  color: blue;
  text-decoration: underline;
}

.singlePhoto {
  width: 500px;
}

/* ==================================== */
.exprt-exprience-grid-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.exprtDetails-div {
  background-color: rgb(243, 241, 236);
  width: 30%;
  padding: 20px;
}
.personName {
  font-size: 25px;
  font-weight: 500;
}
.instructor {
  font-size: 18px;
  font-weight: 500;
  color: #28a745;
}
.exprt-exprience-name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exprt-exprience-name span {
  color: rgb(175, 174, 174);
}

.share-link-div {
  display: flex;
  align-items: center;
}
.share-link {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.link {
  margin-left: 10px;
  margin-top: 20px;
}
.exprt-logo-png {
  width: 30px;
  border-radius: 50px;
}

@media screen and (max-width: 1100px) {
  .exprt-exprience-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .singlePhoto {
    margin: auto;
  }
  .exprtDetails-div {
    width: 100%;
    margin: auto;
  }
}
