.single-exprt-parent-div {
  background: rgba(2, 13, 29, 0.9)
    url("https://html.devignedge.com/pettu/images/site-header-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  margin-bottom: 100px;
  height: 70vh;
  position: relative;
}
.teamDetails {
  color: white;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
}
.goService {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  margin-top: 230px;
  margin-left: 110px;
}
.goService-section {
  color: blue;
  text-decoration: underline;
}

.singlePhoto {
  width: 500px;
}

/* ==================================== */

.exprtDetails-div {
  background-color: rgb(240, 237, 232);
}
.personName {
  font-size: 25px;
  font-weight: 500;
}
.instructor {
  font-size: 18px;
  font-weight: 500;
  color: #28a745;
}
